.button {
  --button-colour: var(--color-primary);
  --button-colour-dim: var(--color-primary-dim);
  --button-colour-bright: var(--color-primary-bright);
  position: relative;
  /* @apply relative border border-secondary/40 bg-slate-950/80 p-6 shadow-2xl backdrop-blur-sm md:p-10; */
  box-shadow:
    0 0 30px rgb(34 211 238 / 0.08),
    inset 0 0 30px rgb(34 211 238 / 0.03);
  border-color: var(--button-colour-dim);
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

.button::before {
  top: -1px;
  left: -1px;
  border-top: 1px solid var(--button-colour);
  border-left: 1px solid var(--button-colour);
}

.button::after {
  right: -1px;
  bottom: -1px;
  border-right: 1px solid var(--button-colour);
  border-bottom: 1px solid var(--button-colour);
}
